@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1750667733001') format('truetype');
}

.iconfont1{
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6a6";
}

